email-monitor/email-monitor-stub/src/main/resources/EmailMonitorAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2598="http://state.clustering.axis2.apache.org/xsd" xmlns:ns="http://wso2.org/cep/email/monitor/admin/xsd" xmlns:ax2609="http://net.java/xsd" xmlns:ax2605="http://description.axis2.apache.org/xsd" xmlns:ax2604="http://util.deployment.axis2.apache.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2590="http://threadpool.util.axis2.apache.org/xsd" xmlns:ax2593="http://util.java/xsd" xmlns:ax2595="http://management.clustering.axis2.apache.org/xsd" xmlns:ax2611="http://java2wsdl.description.axis2.apache.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2617="http://securevault.wso2.org/xsd" xmlns:ax2619="http://util.axis2.apache.org/xsd" xmlns:ax2586="http://clustering.axis2.apache.org/xsd" xmlns:ax2587="http://context.axis2.apache.org/xsd" xmlns:ax2585="http://engine.axis2.apache.org/xsd" xmlns:ax2583="http://exception.admin.monitor.email.cep.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://wso2.org/cep/email/monitor/admin" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2621="http://transaction.axis2.apache.org/xsd" targetNamespace="http://wso2.org/cep/email/monitor/admin">
    <wsdl:documentation>EmailMonitorAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2596="http://context.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://management.clustering.axis2.apache.org/xsd">
            <xs:import namespace="http://context.axis2.apache.org/xsd"></xs:import>
            <xs:complexType abstract="true" name="NodeManager">
                <xs:sequence>
                    <xs:element minOccurs="0" name="configurationContext" nillable="true" type="ax2587:ConfigurationContext"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2612="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://java2wsdl.description.axis2.apache.org/xsd">
            <xs:import namespace="http://util.java/xsd"></xs:import>
            <xs:complexType name="TypeTable">
                <xs:sequence>
                    <xs:element minOccurs="0" name="complexSchemaMap" nillable="true" type="ax2593:Map"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.admin.monitor.email.cep.wso2.org/xsd">
            <xs:complexType name="EmailMonitorAdminException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://net.java/xsd">
            <xs:complexType name="URL">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authority" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="content" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="defaultPort" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="file" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="host" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="port" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="ref" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="userInfo" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://threadpool.util.axis2.apache.org/xsd">
            <xs:complexType abstract="true" name="ThreadFactory">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2613="http://java2wsdl.description.axis2.apache.org/xsd" xmlns:ax2610="http://net.java/xsd" xmlns:ax2608="http://util.deployment.axis2.apache.org/xsd" xmlns:ax2607="http://util.java/xsd" xmlns:ax2606="http://engine.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://description.axis2.apache.org/xsd">
            <xs:import namespace="http://engine.axis2.apache.org/xsd"></xs:import>
            <xs:import namespace="http://util.java/xsd"></xs:import>
            <xs:import namespace="http://util.deployment.axis2.apache.org/xsd"></xs:import>
            <xs:import namespace="http://net.java/xsd"></xs:import>
            <xs:import namespace="http://java2wsdl.description.axis2.apache.org/xsd"></xs:import>
            <xs:complexType abstract="true" name="AxisOperation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="WSAMappingList" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="axisService" nillable="true" type="ax2605:AxisService"></xs:element>
                    <xs:element minOccurs="0" name="axisSpecificMEPConstant" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="controlOperation" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="faultAction" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="faultActionNames" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="faultMessages" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="inputAction" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="messageExchangePattern" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="messageReceiver" nillable="true" type="ax2606:MessageReceiver"></xs:element>
                    <xs:element minOccurs="0" name="messages" nillable="true" type="ax2607:Iterator"></xs:element>
                    <xs:element minOccurs="0" name="moduleRefs" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="outputAction" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="phasesInFaultFlow" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="phasesOutFaultFlow" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="phasesOutFlow" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="remainingPhasesInFlow" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="soapAction" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="style" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="wsamappingList" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AxisService">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="EPRs" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="WSAddressingFlag" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="axisServiceGroup" nillable="true" type="ax2605:AxisServiceGroup"></xs:element>
                    <xs:element minOccurs="0" name="bindingName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="classLoader" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="clientSide" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="controlOperations" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="customSchemaNamePrefix" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="customSchemaNameSuffix" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="customWsdl" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="elementFormDefault" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="enableAllTransports" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="endpointName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="endpointURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="endpoints" nillable="true" type="ax2607:Map"></xs:element>
                    <xs:element minOccurs="0" name="excludeInfo" nillable="true" type="ax2608:ExcludeInfo"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="exposedTransports" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="ax2609:URL"></xs:element>
                    <xs:element minOccurs="0" name="importedNamespaces" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="lastUpdate" type="xs:long"></xs:element>
                    <xs:element minOccurs="0" name="lastupdate" type="xs:long"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="messageElementQNameToOperationMap" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="modifyUserWSDLPortAddress" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="modules" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="nameSpacesMap" nillable="true" type="ax2607:Map"></xs:element>
                    <xs:element minOccurs="0" name="namespaceMap" nillable="true" type="ax2607:Map"></xs:element>
                    <xs:element minOccurs="0" name="objectSupplier" nillable="true" type="ax2606:ObjectSupplier"></xs:element>
                    <xs:element minOccurs="0" name="operations" nillable="true" type="ax2607:Iterator"></xs:element>
                    <xs:element minOccurs="0" name="operationsNameList" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="p2nMap" nillable="true" type="ax2607:Map"></xs:element>
                    <xs:element minOccurs="0" name="parent" nillable="true" type="ax2605:AxisServiceGroup"></xs:element>
                    <xs:element minOccurs="0" name="portTypeName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="publishedOperations" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="schemaLocationsAdjusted" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="schemaMappingTable" nillable="true" type="ax2607:Map"></xs:element>
                    <xs:element minOccurs="0" name="schemaTargetNamespace" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="schemaTargetNamespacePrefix" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="schematargetNamespace" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="schematargetNamespacePrefix" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="scope" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serviceDescription" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serviceLifeCycle" nillable="true" type="ax2606:ServiceLifeCycle"></xs:element>
                    <xs:element minOccurs="0" name="setEndpointsToAllUsedBindings" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="soapNsUri" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="targetNamespace" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="targetNamespacePrefix" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="typeTable" nillable="true" type="ax2613:TypeTable"></xs:element>
                    <xs:element minOccurs="0" name="useDefaultChains" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="useUserWSDL" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="wsdlFound" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AxisServiceGroup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="axisDescription" nillable="true" type="ax2606:AxisConfiguration"></xs:element>
                    <xs:element minOccurs="0" name="foundWebResources" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="moduleRefs" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="serviceGroupClassLoader" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="services" nillable="true" type="ax2607:Iterator"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2623="http://engine.axis2.apache.org/xsd" xmlns:ax2584="http://exception.admin.monitor.email.cep.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wso2.org/cep/email/monitor/admin/xsd">
            <xs:import namespace="http://exception.admin.monitor.email.cep.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://engine.axis2.apache.org/xsd"></xs:import>
            <xs:element name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="EmailMonitorAdminException" nillable="true" type="ax2584:EmailMonitorAdminException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSiddhiQuery">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSiddhiQueryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createThreadDetailsStream">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createThreadDetailsStreamResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createSoapOutputAdapter">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createSoapOutputAdapterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createMailOutputStream">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createMailOutputStreamResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createMailInputStream">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createMailInputStreamResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createLabelDetailsStream">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createLabelDetailsStreamResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createFilteredEmailDetailsStream">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createFilteredEmailDetailsStreamResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createExecutionPlan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createExecutionPlanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createEventFormatter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ESBServerIP" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="ESBServerPort" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="ESBServerUsername" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="ESBServerPassword" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="eventFormatterConfigurationXML" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createEventFormatterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createEmailSenderOutputStreamFormatter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mailBody" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="mailAddress" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="mailSubject" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="axisConfiguration" nillable="true" type="ax2585:AxisConfiguration"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createEmailSenderOutputStreamFormatterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createEmailSenderOutputStream">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createEmailSenderOutputStreamResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createEmailOutputAdapter">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createEmailOutputAdapterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addScheduledTask">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="port" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="mailUserName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="mailPassword" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addScheduledTaskResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addMailProxy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="port" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addMailProxyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addESBConfigurations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="port" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerUserName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerPassword" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="mailUserNAme" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="mailPassword" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerIP" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerPort" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addESBConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addBAMServerProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="port" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerUserName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerPassword" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerIP" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerPort" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addBAMServerProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2597="http://management.clustering.axis2.apache.org/xsd" xmlns:ax2601="http://state.clustering.axis2.apache.org/xsd" xmlns:ax2592="http://context.axis2.apache.org/xsd" xmlns:ax2594="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://clustering.axis2.apache.org/xsd">
            <xs:import namespace="http://context.axis2.apache.org/xsd"></xs:import>
            <xs:import namespace="http://util.java/xsd"></xs:import>
            <xs:import namespace="http://management.clustering.axis2.apache.org/xsd"></xs:import>
            <xs:import namespace="http://state.clustering.axis2.apache.org/xsd"></xs:import>
            <xs:complexType abstract="true" name="ClusteringAgent">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aliveMemberCount" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="configurationContext" nillable="true" type="ax2587:ConfigurationContext"></xs:element>
                    <xs:element minOccurs="0" name="coordinator" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="domains" nillable="true" type="ax2593:Set"></xs:element>
                    <xs:element minOccurs="0" name="members" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="nodeManager" nillable="true" type="ax2597:NodeManager"></xs:element>
                    <xs:element minOccurs="0" name="stateManager" nillable="true" type="ax2598:StateManager"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2614="http://description.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.deployment.axis2.apache.org/xsd">
            <xs:import namespace="http://description.axis2.apache.org/xsd"></xs:import>
            <xs:complexType name="PhasesInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="INPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="IN_FaultPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="OUTPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="OUT_FaultPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="globalInFaultPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="globalInflow" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="globalOutPhaseList" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="operationInFaultPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="operationInPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="operationOutFaultPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="operationOutPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="operationPhases" nillable="true" type="ax2605:AxisOperation"></xs:element>
                    <xs:element minOccurs="0" name="outFaultPhaseList" nillable="true" type="xs:anyType"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ExcludeInfo">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://securevault.wso2.org/xsd">
            <xs:complexType name="SecretResolver">
                <xs:sequence>
                    <xs:element minOccurs="0" name="initialized" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://transaction.axis2.apache.org/xsd">
            <xs:complexType name="TransactionConfiguration">
                <xs:sequence>
                    <xs:element minOccurs="0" name="transactionManager" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="transactionTimeout" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="userTransaction" nillable="true" type="xs:anyType"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2599="http://context.axis2.apache.org/xsd" xmlns:ax2600="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://state.clustering.axis2.apache.org/xsd">
            <xs:import namespace="http://context.axis2.apache.org/xsd"></xs:import>
            <xs:import namespace="http://util.java/xsd"></xs:import>
            <xs:complexType abstract="true" name="StateManager">
                <xs:sequence>
                    <xs:element minOccurs="0" name="configurationContext" nillable="true" type="ax2599:ConfigurationContext"></xs:element>
                    <xs:element minOccurs="0" name="replicationExcludePatterns" nillable="true" type="ax2600:Map"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2589="http://context.axis2.apache.org/xsd" xmlns:ax2616="http://net.java/xsd" xmlns:ax2618="http://securevault.wso2.org/xsd" xmlns:ax2603="http://util.java/xsd" xmlns:ax2615="http://util.deployment.axis2.apache.org/xsd" xmlns:ax2602="http://clustering.axis2.apache.org/xsd" xmlns:ax2620="http://util.axis2.apache.org/xsd" xmlns:ax2622="http://transaction.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://engine.axis2.apache.org/xsd">
            <xs:import namespace="http://context.axis2.apache.org/xsd"></xs:import>
            <xs:import namespace="http://clustering.axis2.apache.org/xsd"></xs:import>
            <xs:import namespace="http://util.java/xsd"></xs:import>
            <xs:import namespace="http://util.deployment.axis2.apache.org/xsd"></xs:import>
            <xs:import namespace="http://net.java/xsd"></xs:import>
            <xs:import namespace="http://securevault.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://util.axis2.apache.org/xsd"></xs:import>
            <xs:import namespace="http://transaction.axis2.apache.org/xsd"></xs:import>
            <xs:complexType name="AxisConfiguration">
                <xs:sequence>
                    <xs:element minOccurs="0" name="childFirstClassLoading" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="clusteringAgent" nillable="true" type="ax2602:ClusteringAgent"></xs:element>
                    <xs:element minOccurs="0" name="configurator" nillable="true" type="ax2585:AxisConfigurator"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="faultyModules" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="faultyServices" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="faultyServicesDuetoModules" nillable="true" type="ax2603:Map"></xs:element>
                    <xs:element minOccurs="0" name="globalModules" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="globalOutPhase" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="inFaultFlowPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="inFaultPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="inFlowPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="inPhasesUptoAndIncludingPostDispatch" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="localPolicyAssertions" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="moduleClassLoader" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="modules" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="observersList" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="outFaultFlowPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="outFaultPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="outFlowPhases" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="phasesInfo" nillable="true" type="ax2604:PhasesInfo"></xs:element>
                    <xs:element minOccurs="0" name="repository" nillable="true" type="ax2609:URL"></xs:element>
                    <xs:element minOccurs="0" name="secretResolver" nillable="true" type="ax2617:SecretResolver"></xs:element>
                    <xs:element minOccurs="0" name="serviceClassLoader" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="serviceGroups" nillable="true" type="ax2603:Iterator"></xs:element>
                    <xs:element minOccurs="0" name="services" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="start" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="systemClassLoader" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="targetResolverChain" nillable="true" type="ax2619:TargetResolver"></xs:element>
                    <xs:element minOccurs="0" name="transactionConfig" nillable="true" type="ax2621:TransactionConfiguration"></xs:element>
                    <xs:element minOccurs="0" name="transactionConfiguration" nillable="true" type="ax2621:TransactionConfiguration"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transportsIn" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transportsOut" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListenerManager">
                <xs:sequence>
                    <xs:element minOccurs="0" name="configctx" nillable="true" type="ax2589:ConfigurationContext"></xs:element>
                    <xs:element minOccurs="0" name="shutdownHookRequired" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="stopped" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="AxisConfigurator">
                <xs:sequence>
                    <xs:element minOccurs="0" name="axisConfiguration" nillable="true" type="ax2585:AxisConfiguration"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="ObjectSupplier">
                <xs:sequence></xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="ServiceLifeCycle">
                <xs:sequence></xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="MessageReceiver">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.axis2.apache.org/xsd">
            <xs:complexType abstract="true" name="TargetResolver">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2591="http://threadpool.util.axis2.apache.org/xsd" xmlns:ax2588="http://engine.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://context.axis2.apache.org/xsd">
            <xs:import namespace="http://engine.axis2.apache.org/xsd"></xs:import>
            <xs:import namespace="http://threadpool.util.axis2.apache.org/xsd"></xs:import>
            <xs:complexType name="ConfigurationContext">
                <xs:sequence>
                    <xs:element minOccurs="0" name="anyOperationContextRegistered" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="axisConfiguration" nillable="true" type="ax2588:AxisConfiguration"></xs:element>
                    <xs:element minOccurs="0" name="contextRoot" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="listenerManager" nillable="true" type="ax2588:ListenerManager"></xs:element>
                    <xs:element minOccurs="0" name="rootContext" nillable="true" type="ax2587:ConfigurationContext"></xs:element>
                    <xs:element minOccurs="0" name="serviceContextPath" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceGroupContextIDs" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="serviceGroupContextTimeoutInterval" type="xs:long"></xs:element>
                    <xs:element minOccurs="0" name="serviceGroupContextTimoutInterval" type="xs:long"></xs:element>
                    <xs:element minOccurs="0" name="serviceGroupContexts" nillable="true" type="xs:anyType"></xs:element>
                    <xs:element minOccurs="0" name="servicePath" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="threadPool" nillable="true" type="ax2590:ThreadFactory"></xs:element>
                    <xs:element minOccurs="0" name="transportManager" nillable="true" type="ax2588:ListenerManager"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType abstract="true" name="Set">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="Map">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="Iterator">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addScheduledTaskRequest">
        <wsdl:part name="parameters" element="ns:addScheduledTask"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addScheduledTaskResponse">
        <wsdl:part name="parameters" element="ns:addScheduledTaskResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="EmailMonitorAdminServiceEmailMonitorAdminException">
        <wsdl:part name="parameters" element="ns:EmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEmailOutputAdapterRequest">
        <wsdl:part name="parameters" element="ns:createEmailOutputAdapter"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEmailOutputAdapterResponse">
        <wsdl:part name="parameters" element="ns:createEmailOutputAdapterResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createThreadDetailsStreamRequest">
        <wsdl:part name="parameters" element="ns:createThreadDetailsStream"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createThreadDetailsStreamResponse">
        <wsdl:part name="parameters" element="ns:createThreadDetailsStreamResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createLabelDetailsStreamRequest">
        <wsdl:part name="parameters" element="ns:createLabelDetailsStream"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createLabelDetailsStreamResponse">
        <wsdl:part name="parameters" element="ns:createLabelDetailsStreamResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addBAMServerProfileRequest">
        <wsdl:part name="parameters" element="ns:addBAMServerProfile"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addBAMServerProfileResponse">
        <wsdl:part name="parameters" element="ns:addBAMServerProfileResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createMailInputStreamRequest">
        <wsdl:part name="parameters" element="ns:createMailInputStream"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createMailInputStreamResponse">
        <wsdl:part name="parameters" element="ns:createMailInputStreamResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createSoapOutputAdapterRequest">
        <wsdl:part name="parameters" element="ns:createSoapOutputAdapter"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createSoapOutputAdapterResponse">
        <wsdl:part name="parameters" element="ns:createSoapOutputAdapterResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEventFormatterRequest">
        <wsdl:part name="parameters" element="ns:createEventFormatter"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEventFormatterResponse">
        <wsdl:part name="parameters" element="ns:createEventFormatterResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addESBConfigurationsRequest">
        <wsdl:part name="parameters" element="ns:addESBConfigurations"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addESBConfigurationsResponse">
        <wsdl:part name="parameters" element="ns:addESBConfigurationsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createExecutionPlanRequest">
        <wsdl:part name="parameters" element="ns:createExecutionPlan"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createExecutionPlanResponse">
        <wsdl:part name="parameters" element="ns:createExecutionPlanResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSiddhiQueryRequest">
        <wsdl:part name="parameters" element="ns:getSiddhiQuery"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSiddhiQueryResponse">
        <wsdl:part name="parameters" element="ns:getSiddhiQueryResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addMailProxyRequest">
        <wsdl:part name="parameters" element="ns:addMailProxy"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addMailProxyResponse">
        <wsdl:part name="parameters" element="ns:addMailProxyResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEmailSenderOutputStreamFormatterRequest">
        <wsdl:part name="parameters" element="ns:createEmailSenderOutputStreamFormatter"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEmailSenderOutputStreamFormatterResponse">
        <wsdl:part name="parameters" element="ns:createEmailSenderOutputStreamFormatterResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEmailSenderOutputStreamRequest">
        <wsdl:part name="parameters" element="ns:createEmailSenderOutputStream"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEmailSenderOutputStreamResponse">
        <wsdl:part name="parameters" element="ns:createEmailSenderOutputStreamResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createMailOutputStreamRequest">
        <wsdl:part name="parameters" element="ns:createMailOutputStream"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createMailOutputStreamResponse">
        <wsdl:part name="parameters" element="ns:createMailOutputStreamResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createFilteredEmailDetailsStreamRequest">
        <wsdl:part name="parameters" element="ns:createFilteredEmailDetailsStream"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createFilteredEmailDetailsStreamResponse">
        <wsdl:part name="parameters" element="ns:createFilteredEmailDetailsStreamResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EmailMonitorAdminServicePortType">
        <wsdl:operation name="addScheduledTask">
            <wsdl:input message="tns:addScheduledTaskRequest" wsaw:Action="urn:addScheduledTask"></wsdl:input>
            <wsdl:output message="tns:addScheduledTaskResponse" wsaw:Action="urn:addScheduledTaskResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:addScheduledTaskEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEmailOutputAdapter">
            <wsdl:input message="tns:createEmailOutputAdapterRequest" wsaw:Action="urn:createEmailOutputAdapter"></wsdl:input>
            <wsdl:output message="tns:createEmailOutputAdapterResponse" wsaw:Action="urn:createEmailOutputAdapterResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:createEmailOutputAdapterEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createThreadDetailsStream">
            <wsdl:input message="tns:createThreadDetailsStreamRequest" wsaw:Action="urn:createThreadDetailsStream"></wsdl:input>
            <wsdl:output message="tns:createThreadDetailsStreamResponse" wsaw:Action="urn:createThreadDetailsStreamResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:createThreadDetailsStreamEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createLabelDetailsStream">
            <wsdl:input message="tns:createLabelDetailsStreamRequest" wsaw:Action="urn:createLabelDetailsStream"></wsdl:input>
            <wsdl:output message="tns:createLabelDetailsStreamResponse" wsaw:Action="urn:createLabelDetailsStreamResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:createLabelDetailsStreamEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addBAMServerProfile">
            <wsdl:input message="tns:addBAMServerProfileRequest" wsaw:Action="urn:addBAMServerProfile"></wsdl:input>
            <wsdl:output message="tns:addBAMServerProfileResponse" wsaw:Action="urn:addBAMServerProfileResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:addBAMServerProfileEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createMailInputStream">
            <wsdl:input message="tns:createMailInputStreamRequest" wsaw:Action="urn:createMailInputStream"></wsdl:input>
            <wsdl:output message="tns:createMailInputStreamResponse" wsaw:Action="urn:createMailInputStreamResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:createMailInputStreamEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createSoapOutputAdapter">
            <wsdl:input message="tns:createSoapOutputAdapterRequest" wsaw:Action="urn:createSoapOutputAdapter"></wsdl:input>
            <wsdl:output message="tns:createSoapOutputAdapterResponse" wsaw:Action="urn:createSoapOutputAdapterResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:createSoapOutputAdapterEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEventFormatter">
            <wsdl:input message="tns:createEventFormatterRequest" wsaw:Action="urn:createEventFormatter"></wsdl:input>
            <wsdl:output message="tns:createEventFormatterResponse" wsaw:Action="urn:createEventFormatterResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:createEventFormatterEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addESBConfigurations">
            <wsdl:input message="tns:addESBConfigurationsRequest" wsaw:Action="urn:addESBConfigurations"></wsdl:input>
            <wsdl:output message="tns:addESBConfigurationsResponse" wsaw:Action="urn:addESBConfigurationsResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:addESBConfigurationsEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createExecutionPlan">
            <wsdl:input message="tns:createExecutionPlanRequest" wsaw:Action="urn:createExecutionPlan"></wsdl:input>
            <wsdl:output message="tns:createExecutionPlanResponse" wsaw:Action="urn:createExecutionPlanResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:createExecutionPlanEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSiddhiQuery">
            <wsdl:input message="tns:getSiddhiQueryRequest" wsaw:Action="urn:getSiddhiQuery"></wsdl:input>
            <wsdl:output message="tns:getSiddhiQueryResponse" wsaw:Action="urn:getSiddhiQueryResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:getSiddhiQueryEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addMailProxy">
            <wsdl:input message="tns:addMailProxyRequest" wsaw:Action="urn:addMailProxy"></wsdl:input>
            <wsdl:output message="tns:addMailProxyResponse" wsaw:Action="urn:addMailProxyResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:addMailProxyEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEmailSenderOutputStreamFormatter">
            <wsdl:input message="tns:createEmailSenderOutputStreamFormatterRequest" wsaw:Action="urn:createEmailSenderOutputStreamFormatter"></wsdl:input>
            <wsdl:output message="tns:createEmailSenderOutputStreamFormatterResponse" wsaw:Action="urn:createEmailSenderOutputStreamFormatterResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:createEmailSenderOutputStreamFormatterEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEmailSenderOutputStream">
            <wsdl:input message="tns:createEmailSenderOutputStreamRequest" wsaw:Action="urn:createEmailSenderOutputStream"></wsdl:input>
            <wsdl:output message="tns:createEmailSenderOutputStreamResponse" wsaw:Action="urn:createEmailSenderOutputStreamResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:createEmailSenderOutputStreamEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createMailOutputStream">
            <wsdl:input message="tns:createMailOutputStreamRequest" wsaw:Action="urn:createMailOutputStream"></wsdl:input>
            <wsdl:output message="tns:createMailOutputStreamResponse" wsaw:Action="urn:createMailOutputStreamResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:createMailOutputStreamEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createFilteredEmailDetailsStream">
            <wsdl:input message="tns:createFilteredEmailDetailsStreamRequest" wsaw:Action="urn:createFilteredEmailDetailsStream"></wsdl:input>
            <wsdl:output message="tns:createFilteredEmailDetailsStreamResponse" wsaw:Action="urn:createFilteredEmailDetailsStreamResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:createFilteredEmailDetailsStreamEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmailMonitorAdminServiceSoap11Binding" type="tns:EmailMonitorAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="createEmailOutputAdapter">
            <soap:operation soapAction="urn:createEmailOutputAdapter" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addScheduledTask">
            <soap:operation soapAction="urn:addScheduledTask" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createThreadDetailsStream">
            <soap:operation soapAction="urn:createThreadDetailsStream" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createLabelDetailsStream">
            <soap:operation soapAction="urn:createLabelDetailsStream" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createMailInputStream">
            <soap:operation soapAction="urn:createMailInputStream" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addBAMServerProfile">
            <soap:operation soapAction="urn:addBAMServerProfile" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createSoapOutputAdapter">
            <soap:operation soapAction="urn:createSoapOutputAdapter" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEventFormatter">
            <soap:operation soapAction="urn:createEventFormatter" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createExecutionPlan">
            <soap:operation soapAction="urn:createExecutionPlan" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addESBConfigurations">
            <soap:operation soapAction="urn:addESBConfigurations" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSiddhiQuery">
            <soap:operation soapAction="urn:getSiddhiQuery" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEmailSenderOutputStreamFormatter">
            <soap:operation soapAction="urn:createEmailSenderOutputStreamFormatter" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addMailProxy">
            <soap:operation soapAction="urn:addMailProxy" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEmailSenderOutputStream">
            <soap:operation soapAction="urn:createEmailSenderOutputStream" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createMailOutputStream">
            <soap:operation soapAction="urn:createMailOutputStream" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createFilteredEmailDetailsStream">
            <soap:operation soapAction="urn:createFilteredEmailDetailsStream" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmailMonitorAdminServiceSoap12Binding" type="tns:EmailMonitorAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="createEmailOutputAdapter">
            <soap12:operation soapAction="urn:createEmailOutputAdapter" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addScheduledTask">
            <soap12:operation soapAction="urn:addScheduledTask" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createThreadDetailsStream">
            <soap12:operation soapAction="urn:createThreadDetailsStream" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createLabelDetailsStream">
            <soap12:operation soapAction="urn:createLabelDetailsStream" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createMailInputStream">
            <soap12:operation soapAction="urn:createMailInputStream" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addBAMServerProfile">
            <soap12:operation soapAction="urn:addBAMServerProfile" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createSoapOutputAdapter">
            <soap12:operation soapAction="urn:createSoapOutputAdapter" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEventFormatter">
            <soap12:operation soapAction="urn:createEventFormatter" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createExecutionPlan">
            <soap12:operation soapAction="urn:createExecutionPlan" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addESBConfigurations">
            <soap12:operation soapAction="urn:addESBConfigurations" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSiddhiQuery">
            <soap12:operation soapAction="urn:getSiddhiQuery" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEmailSenderOutputStreamFormatter">
            <soap12:operation soapAction="urn:createEmailSenderOutputStreamFormatter" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addMailProxy">
            <soap12:operation soapAction="urn:addMailProxy" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEmailSenderOutputStream">
            <soap12:operation soapAction="urn:createEmailSenderOutputStream" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createMailOutputStream">
            <soap12:operation soapAction="urn:createMailOutputStream" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createFilteredEmailDetailsStream">
            <soap12:operation soapAction="urn:createFilteredEmailDetailsStream" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmailMonitorAdminServiceHttpBinding" type="tns:EmailMonitorAdminServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="createEmailOutputAdapter">
            <http:operation location="createEmailOutputAdapter"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addScheduledTask">
            <http:operation location="addScheduledTask"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createThreadDetailsStream">
            <http:operation location="createThreadDetailsStream"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createLabelDetailsStream">
            <http:operation location="createLabelDetailsStream"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createMailInputStream">
            <http:operation location="createMailInputStream"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addBAMServerProfile">
            <http:operation location="addBAMServerProfile"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createSoapOutputAdapter">
            <http:operation location="createSoapOutputAdapter"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createEventFormatter">
            <http:operation location="createEventFormatter"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createExecutionPlan">
            <http:operation location="createExecutionPlan"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addESBConfigurations">
            <http:operation location="addESBConfigurations"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSiddhiQuery">
            <http:operation location="getSiddhiQuery"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createEmailSenderOutputStreamFormatter">
            <http:operation location="createEmailSenderOutputStreamFormatter"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMailProxy">
            <http:operation location="addMailProxy"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createEmailSenderOutputStream">
            <http:operation location="createEmailSenderOutputStream"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createMailOutputStream">
            <http:operation location="createMailOutputStream"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createFilteredEmailDetailsStream">
            <http:operation location="createFilteredEmailDetailsStream"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmailMonitorAdminService">
        <wsdl:port name="EmailMonitorAdminServiceHttpsSoap11Endpoint" binding="tns:EmailMonitorAdminServiceSoap11Binding">
            <soap:address location="https://10.100.5.98:9443/services/EmailMonitorAdminService.EmailMonitorAdminServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="EmailMonitorAdminServiceHttpsSoap12Endpoint" binding="tns:EmailMonitorAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.5.98:9443/services/EmailMonitorAdminService.EmailMonitorAdminServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="EmailMonitorAdminServiceHttpsEndpoint" binding="tns:EmailMonitorAdminServiceHttpBinding">
            <http:address location="https://10.100.5.98:9443/services/EmailMonitorAdminService.EmailMonitorAdminServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>