email-monitor/email-monitor-stub/src/main/resources/EmailMonitorAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://wso2.org/cep/email/monitor/admin/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://wso2.org/cep/email/monitor/admin" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2583="http://exception.admin.monitor.email.cep.wso2.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://wso2.org/cep/email/monitor/admin">
    <wsdl:documentation>EmailMonitorAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.admin.monitor.email.cep.wso2.org/xsd">
            <xs:complexType name="EmailMonitorAdminException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2584="http://exception.admin.monitor.email.cep.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wso2.org/cep/email/monitor/admin/xsd">
            <xs:import namespace="http://exception.admin.monitor.email.cep.wso2.org/xsd"></xs:import>
            <xs:element name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="EmailMonitorAdminException" nillable="true" type="ax2584:EmailMonitorAdminException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createMailInputStream">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createMailInputStreamResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createExecutionPlan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="executionPlanXmlConfiguration" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createExecutionPlanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addScheduledTask">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="port" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="mailUserName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="mailPassword" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addScheduledTaskResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addMailProxy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="port" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addMailProxyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addESBConfigurations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="port" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerUserName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerPassword" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="mailUserNAme" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="mailPassword" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerIP" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerPort" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addESBConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addBAMServerProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="port" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerUserName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerPassword" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerIP" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="CEPServerPort" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addBAMServerProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addScheduledTaskRequest">
        <wsdl:part name="parameters" element="ns:addScheduledTask"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addScheduledTaskResponse">
        <wsdl:part name="parameters" element="ns:addScheduledTaskResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="EmailMonitorAdminServiceEmailMonitorAdminException">
        <wsdl:part name="parameters" element="ns:EmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addBAMServerProfileRequest">
        <wsdl:part name="parameters" element="ns:addBAMServerProfile"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addBAMServerProfileResponse">
        <wsdl:part name="parameters" element="ns:addBAMServerProfileResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createMailInputStreamRequest">
        <wsdl:part name="parameters" element="ns:createMailInputStream"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createMailInputStreamResponse">
        <wsdl:part name="parameters" element="ns:createMailInputStreamResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addESBConfigurationsRequest">
        <wsdl:part name="parameters" element="ns:addESBConfigurations"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addESBConfigurationsResponse">
        <wsdl:part name="parameters" element="ns:addESBConfigurationsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createExecutionPlanRequest">
        <wsdl:part name="parameters" element="ns:createExecutionPlan"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createExecutionPlanResponse">
        <wsdl:part name="parameters" element="ns:createExecutionPlanResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addMailProxyRequest">
        <wsdl:part name="parameters" element="ns:addMailProxy"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addMailProxyResponse">
        <wsdl:part name="parameters" element="ns:addMailProxyResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EmailMonitorAdminServicePortType">
        <wsdl:operation name="addScheduledTask">
            <wsdl:input message="tns:addScheduledTaskRequest" wsaw:Action="urn:addScheduledTask"></wsdl:input>
            <wsdl:output message="tns:addScheduledTaskResponse" wsaw:Action="urn:addScheduledTaskResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:addScheduledTaskEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addBAMServerProfile">
            <wsdl:input message="tns:addBAMServerProfileRequest" wsaw:Action="urn:addBAMServerProfile"></wsdl:input>
            <wsdl:output message="tns:addBAMServerProfileResponse" wsaw:Action="urn:addBAMServerProfileResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:addBAMServerProfileEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createMailInputStream">
            <wsdl:input message="tns:createMailInputStreamRequest" wsaw:Action="urn:createMailInputStream"></wsdl:input>
            <wsdl:output message="tns:createMailInputStreamResponse" wsaw:Action="urn:createMailInputStreamResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:createMailInputStreamEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addESBConfigurations">
            <wsdl:input message="tns:addESBConfigurationsRequest" wsaw:Action="urn:addESBConfigurations"></wsdl:input>
            <wsdl:output message="tns:addESBConfigurationsResponse" wsaw:Action="urn:addESBConfigurationsResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:addESBConfigurationsEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createExecutionPlan">
            <wsdl:input message="tns:createExecutionPlanRequest" wsaw:Action="urn:createExecutionPlan"></wsdl:input>
            <wsdl:output message="tns:createExecutionPlanResponse" wsaw:Action="urn:createExecutionPlanResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:createExecutionPlanEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addMailProxy">
            <wsdl:input message="tns:addMailProxyRequest" wsaw:Action="urn:addMailProxy"></wsdl:input>
            <wsdl:output message="tns:addMailProxyResponse" wsaw:Action="urn:addMailProxyResponse"></wsdl:output>
            <wsdl:fault message="tns:EmailMonitorAdminServiceEmailMonitorAdminException" name="EmailMonitorAdminServiceEmailMonitorAdminException" wsaw:Action="urn:addMailProxyEmailMonitorAdminServiceEmailMonitorAdminException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmailMonitorAdminServiceSoap11Binding" type="tns:EmailMonitorAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="addScheduledTask">
            <soap:operation soapAction="urn:addScheduledTask" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createMailInputStream">
            <soap:operation soapAction="urn:createMailInputStream" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addBAMServerProfile">
            <soap:operation soapAction="urn:addBAMServerProfile" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createExecutionPlan">
            <soap:operation soapAction="urn:createExecutionPlan" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addESBConfigurations">
            <soap:operation soapAction="urn:addESBConfigurations" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addMailProxy">
            <soap:operation soapAction="urn:addMailProxy" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmailMonitorAdminServiceSoap12Binding" type="tns:EmailMonitorAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="addScheduledTask">
            <soap12:operation soapAction="urn:addScheduledTask" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createMailInputStream">
            <soap12:operation soapAction="urn:createMailInputStream" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addBAMServerProfile">
            <soap12:operation soapAction="urn:addBAMServerProfile" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createExecutionPlan">
            <soap12:operation soapAction="urn:createExecutionPlan" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addESBConfigurations">
            <soap12:operation soapAction="urn:addESBConfigurations" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addMailProxy">
            <soap12:operation soapAction="urn:addMailProxy" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EmailMonitorAdminServiceEmailMonitorAdminException">
                <soap12:fault use="literal" name="EmailMonitorAdminServiceEmailMonitorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmailMonitorAdminServiceHttpBinding" type="tns:EmailMonitorAdminServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="addScheduledTask">
            <http:operation location="addScheduledTask"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createMailInputStream">
            <http:operation location="createMailInputStream"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addBAMServerProfile">
            <http:operation location="addBAMServerProfile"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createExecutionPlan">
            <http:operation location="createExecutionPlan"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addESBConfigurations">
            <http:operation location="addESBConfigurations"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMailProxy">
            <http:operation location="addMailProxy"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmailMonitorAdminService">
        <wsdl:port name="EmailMonitorAdminServiceHttpsSoap11Endpoint" binding="tns:EmailMonitorAdminServiceSoap11Binding">
            <soap:address location="https://10.100.5.98:9443/services/EmailMonitorAdminService.EmailMonitorAdminServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="EmailMonitorAdminServiceHttpsSoap12Endpoint" binding="tns:EmailMonitorAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.5.98:9443/services/EmailMonitorAdminService.EmailMonitorAdminServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="EmailMonitorAdminServiceHttpsEndpoint" binding="tns:EmailMonitorAdminServiceHttpBinding">
            <http:address location="https://10.100.5.98:9443/services/EmailMonitorAdminService.EmailMonitorAdminServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>